cat <<EOL > requirements.txt
Django>=4.2
djangorestframework>=3.14
pandas>=2.0
openpyxl>=3.0
python-dateutil>=2.8
django-cors-headers>=3.14
pillow>=9.0
python-dotenv>=1.0
whitenoise>=6.0
gunicorn>=22.0
