{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="max-w-md mx-auto card">
        <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div class="space-y-2">
                {{ form.as_p }}
                <button type="submit" class="approve w-full">Login</button>
            </div>
        </form>
        {% if form.errors %}
            <p class="text-red-500 mt-4 text-center">Invalid username or password.</p>
        {% endif %}
    </div>
{% endblock %}
