{% extends "base.html" %}
{% load static %}
{% block title %}Create Booking{% endblock %}
{% block content %}
    <h2>Create a New Booking</h2>
    <div class="chart-container">
        <form method="post" class="form-group">
            {% csrf_token %}
            <div>
                <label for="classroom">Classroom</label>
                <select name="classroom" required>
                    {% for c in classrooms %}
                        <option value="{{ c.id }}">{{ c.name }} ({{ c.block.name }})</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="date">Date</label>
                <input type="date" name="date" required>
            </div>
            <div>
                <label for="start_time">Start Time</label>
                <input type="time" name="start_time" required>
            </div>
            <div>
                <label for="end_time">End Time</label>
                <input type="time" name="end_time" required>
            </div>
            <button type="submit">Submit Booking</button>
        </form>
    </div>
{% endblock %}
