@use "../index" as *;

.admin-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    &__detailed-view-button {
        align-self: flex-end;
        margin-right: 15%;
        font-size: 1rem;
        @include special-design(10rem, 3rem, $primary);
        background-color: rgba($color: $accent, $alpha: 0.3) !important;
        a {
            color: $text;
            text-decoration: none;
        }
        @include button-animation(white, $text);
        &:hover {
            background-color: rgba($color: $accent, $alpha: 0.5) !important;
            a{
                color: $background;
            }
        }
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 40%;
        row-gap: 20%;
        width: auto;
        > [class] {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            min-width: 250px;
            width: auto;
            gap: 0.5rem;
            padding: 0.5rem;
            background-color: $background;
            border: $primary 1px solid;
            border-radius: 10px;
            p {
                width: 60%;
                font-family: $main_font;
                font-weight: $fregular;
                font-size: 1.1rem;
            }
            > [id] {
                font-size: 3rem;
            }
        }
        &__occupied-classrooms {
            color: red;
        }
        &__free-classrooms {
            color: green;
        }
        &__faculties {
            color: $text;
        }
        &__bookings {
            color: orange;
        }
        &__most-used {
            color: red;
        }
        &__least-used {
            color: green;
        }
    }
}
