@use "../index" as *;

.time-container {
    width: 20rem;
    display: grid;
    grid-template-columns: 11fr 1fr 10fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "day hr time"
        "date hr time";
    padding: .8rem;
}
#day {
    font-size:1.8rem;
    font-family: $main_font;
    font-weight: $fregular;
    color: $text;
    grid-area: day;

}
#date {
    font-size:1.8rem;
    font-family: $main_font;
    font-weight: $fregular;
    color: $text;
    grid-area: date;

}
#time {
    font-size:1.8rem;
    font-family: $main_font;
    font-weight: $fregular;
    color: $text;
    grid-area: time;
    place-self: center;

}
.time-hr{
    width: 2px;
    height: 100%;
    transform: translateY(-10%);
    grid-area: hr;
    background-color: $primary;
}
