@use "variables" as *;

@mixin special-design($width, $height, $color) {
    width: $width;
    height: $height;
    background-color: transparent;
    border: $color 2px solid;
    border-radius: 10px;
    font-family: $main_font;
}

@mixin hover-componant($color) {
    transition: all 0.3s ease;
    &:hover {
        color: $color;
        transform: scale(1.1);
    }
}

@mixin button-animation($colorfont, $colorborder) {
    transition: all 0.3s ease-in;
    &:hover {
        background-color: transparent;
        color: $colorfont !important;
        border: $colorborder 1px solid;
    }
}
