@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap");

.m-plus-code-latin-font {
    font-family: "M PLUS Code Latin", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
}

//font
$main_font: M PLUS Code Latin;
$fmedium: 500;
$fbold: 700;
$fthin: 100;
$fextra_light: 200;
$flight: 300;
$fregular: 400;

//colors
$primary: #0c55b4;
$accent: #0b0082;
$secondary: #fefea6;
$text: #050316;
$background: #fbfbfe;

